#### Лабораторная работа по Pandas №1
   гр.М8О-103М-20   
   Никитина Анна   
   дата сдачи: 21.11.2020

1. Импортировать модули sys numpy pandas

In [41]:
import sys as sys
import numpy as np
import pandas as pd

2. Создать объект pandas Series из листа, объекта NumPy, и словаря

In [42]:
a=pd.Series([4, 7, -5, 3])

b1=np.ones(3)
b=pd.Series(b1)

data= {'msk':6000,'spb':2000,'mo':200}
c=pd.Series(data)

print(a)
print(b)
print(c)

0    4
1    7
2   -5
3    3
dtype: int64
0    1.0
1    1.0
2    1.0
dtype: float64
msk    6000
spb    2000
mo      200
dtype: int64

3. Преобразовать объект Series в DataFrame

создать объект Series

In [43]:
a=pd.Series([4, 7, -5, 3])

преобразовать в DataFrame

In [44]:
frame=pd.DataFrame(a)
print(frame)

   0
0  4
1  7
2 -5
3  3

объединить несколько объектов Series в Dataframe

In [45]:
b=pd.Series(["a","b","c","d"])
pd.concat([a,b], keys=['1','2'])

1  0     4
   1     7
   2    -5
   3     3
2  0     a
   1     b
   2     c
   3     d
dtype: object

4. Присвоить имя индексу объекта Series

In [46]:
a=pd.Series([4, 7, -5, 3])
a.index.name='znachenie'
print(a)

znachenie
0    4
1    7
2   -5
3    3
dtype: int64

5. Получить элементы объекта Series A, которых нет в объекте Series B

In [47]:
a=pd.Series([4, 7, -5, 3])
b=pd.Series([0, 0, -5, 3])

возвратить вместе с индексами

In [48]:
ans = a[~a.isin(b)]
print(ans)

0    4
1    7
dtype: int64

возвратить значения

In [49]:
ans1 = np.setdiff1d(a, b, assume_unique=False)
print(ans1)

[4 7]

6. Получить не пересекающиеся элементы в двух объектах Series

возвратить вместе с индексами

получить объединенный Series без повтороений

In [50]:
a=pd.Series([4, 7, -5, 3])
b=pd.Series([0, 0, -5, 3])

In [51]:
union = pd.Series(np.union1d(a, b))
print(union)

0   -5
1    0
2    3
3    4
4    7
dtype: int64

получить пересекающиеся данные

In [52]:
intersect = pd.Series(np.intersect1d(a, b))
print(intersect)

0   -5
1    3
dtype: int64

отобрать все данные, кроме пересекающихся

In [53]:
ans = union[~union.isin(intersect)]
print(ans)

1    0
3    4
4    7
dtype: int64

возвратить значения

In [54]:
ans2 = np.setxor1d(a, b, assume_unique=False)
print(ans2)

[0 4 7]