---
                                            Московский Авиационный Институт  
                                      (Национальный Исследовательский Университет)  
        
                
                 
    Институт №8 «Информационные технологии и прикладная математика»  
    Кафедра 806 «Вычислительная математика и программирование» 
    Дисциплина: «Разработка ПО для высокопроизводительных систем»        
                



                                            Лабораторная работа по Pandas №1  
    
                                            
                                            
                                            
                                                                                Группа: М8О-103М-20  
                                                                                Студент: Никитина Анна Евгеньевна  
                                                                                Преподаватель: Поповкин Александр Викторович  
                                                                                
                                                                                
                                                                                
                                                     Москва, 2020  
                                                         
---

1. Импортировать модули sys numpy pandas

In [4]:
import sys as sys
import numpy as np
import pandas as pd

2. Создать объект pandas Series из листа, объекта NumPy, и словаря

In [5]:
a=pd.Series([4, 7, -5, 3])

b1=np.ones(3)
b=pd.Series(b1)

data= {'msk':6000,'spb':2000,'mo':200}
c=pd.Series(data)

print(a)
print(b)
print(c)

0    4
1    7
2   -5
3    3
dtype: int64
0    1.0
1    1.0
2    1.0
dtype: float64
msk    6000
spb    2000
mo      200
dtype: int64

3. Преобразовать объект Series в DataFrame

создать объект Series

In [6]:
a=pd.Series([4, 7, -5, 3])

преобразовать в DataFrame

In [7]:
frame=pd.DataFrame(a)
print(frame)

   0
0  4
1  7
2 -5
3  3

объединить несколько объектов Series в Dataframe

In [8]:
b=pd.Series(["a","b","c","d"])
pd.concat([a,b], keys=['1','2'])

1  0     4
   1     7
   2    -5
   3     3
2  0     a
   1     b
   2     c
   3     d
dtype: object

4. Присвоить имя индексу объекта Series

In [9]:
a=pd.Series([4, 7, -5, 3])
a.index.name='znachenie'
print(a)

znachenie
0    4
1    7
2   -5
3    3
dtype: int64

5. Получить элементы объекта Series A, которых нет в объекте Series B

In [10]:
a=pd.Series([4, 7, -5, 3])
b=pd.Series([0, 0, -5, 3])

возвратить вместе с индексами

In [11]:
ans = a[~a.isin(b)]
print(ans)

0    4
1    7
dtype: int64

возвратить значения

In [12]:
ans1 = np.setdiff1d(a, b, assume_unique=False)
print(ans1)

[4 7]

6. Получить не пересекающиеся элементы в двух объектах Series

возвратить вместе с индексами

получить объединенный Series без повтороений

In [13]:
a=pd.Series([4, 7, -5, 3])
b=pd.Series([0, 0, -5, 3])

In [14]:
union = pd.Series(np.union1d(a, b))
print(union)

0   -5
1    0
2    3
3    4
4    7
dtype: int64

получить пересекающиеся данные

In [21]:
intersect = pd.Series(np.intersect1d(a, b))

print(intersect[0])

-5

отобрать все данные, кроме пересекающихся

In [16]:
ans = union[~union.isin(intersect)]
print(ans)

1    0
3    4
4    7
dtype: int64

возвратить значения

In [17]:
ans2 = np.setxor1d(a, b, assume_unique=False)
print(ans2)

[0 4 7]